src/test/java/unit/internal/xsd/dataset-profile1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="tother" type="tother__type"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="tother__type">
		<xsd:attribute name="ca" use="optional" type="xsd:string"/>
		<xsd:attribute name="cb" use="optional" type="xsd:string"/>
		<xsd:attribute name="cc" use="optional" type="xsd:string"/>
	</xsd:complexType>
</xsd:schema>
